/* custom-container */
@media (min-width: 1300px) {
  .container.custom-container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container.custom-container {
    max-width: 1300px;
  }
}
@media (min-width: 1500px) {
  .container.custom-container {
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  .container.custom-container {
    max-width: 1500px;
  }
}
/* vw-container */
@media (min-width: 660px) {
  .container.vw-container {
    max-width: 80vw;
  }
}

.line-height-md {
  line-height: 5vh;
}

.theme-main-menu .logo {
  width: 12vw;
}

@media (max-width: 1200px) {
  .theme-main-menu .logo {
    width: 25vh !important;
  }
}

body .theme-btn {
  position: relative;
  z-index: 1;
  line-height: 5vh;
  border-radius: 30px;
  min-width: 3vw;
  font-size: 2vh;
  text-align: center;
  padding: 0 3vw;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.theme-main-menu .contact-button {
  font-weight: 500;
  font-size: 1.8vh;
  text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 0;
  margin: 0 15px;
  display: block;
  font-size: 2vh;
  text-transform: capitalize;
  color: var(--text-dark);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link-home {
  padding: 10px 0;
  margin: 0 0 0 20px;
  display: block;
  font-size: 2.3vh;
  text-transform: capitalize;
  color: var(--text-dark);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.banner-main-title {
  font-size: 6.5vh !important;
  line-height: 8.5vh !important;
}

.rogan-hero-section.rogan-hero-four .banner-main-title {
  font-size: 9vh;
  line-height: 10vh;
}

@media (min-height: 768px) {
  .rogan-hero-section.rogan-hero-four .banner-main-title {
    font-size: 8vh;
    line-height: 9.5vh;
  }
}

.rogan-hero-section.rogan-hero-four .banner-main-title .landing-txt {
  color: #0c9ffa;
}

.rogan-hero-section .banner-sub-title {
  font-size: 2.5vh;
  color: #929292;
}

.rogan-hero-section.rogan-hero-four .theme-btn {
  margin-right: 45px;
}

.feature-block-one {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 4vh 3vh;
  position: relative;
  z-index: 5;
  box-shadow: 0px 30px 70px 0px rgb(223 227 234 / 50%);
}

.feature-block-one img {
  width: 8vh;
  height: 8vh;
}
.img-digital-tool {
  width: 60px;
}
.whatsapp-paragraph {
  /* font-size: 1.5vw; */
  /* font-size: 1.3rem; */
  font-size: calc(12px + 0.7vw);
  /* color: #000000ad; */
  line-height: 1.2;
  color: #000;
  font-family: "gilroy-ultralight";
  font-weight: 600;
}

@media (min-width: 900px) {
  .feature-block-one img {
    width: 6vh;
    height: 6vh;
  }
}

.footer-about-widget .email {
  font-size: 2vh;
  color: var(--text-color);
  margin: 12px 0 10px;
  display: block;
}
.footer-about-widget .phone {
  font-size: 2vh;
  color: var(--heading);
}
.gradiant-bg {
  background-image: url("../images/gradiant-bg.svg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px 550px;
}
.hero-section-tabs-scrip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f7f7f7;
}
.hero-section-tabs-scrip-part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.shape-wrapper .img-shape {
  width: 3.5vh;
}

@media (max-width: 660px) {
  body .theme-btn {
    line-height: 5vh;
    min-width: 3vw;
    font-size: 2vh;
    padding: 0 10vw;
  }

  .banner-main-title {
    font-size: 8vh !important;
    line-height: 8.5vh;
  }

  .rogan-hero-section.rogan-hero-four .banner-main-title {
    font-size: 7vh;
    line-height: 8.3vh;
  }
}

/* custom form success message styles */
.custom-form-message #container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 700px;
  height: 250px;
}

.custom-form-message h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.custom-form-message .green {
  color: #198a35;
}

.custom-form-message .red {
  color: #e96075;
}

.custom-form-message .alert {
  font-weight: 700;
  letter-spacing: 5px;
}

.custom-form-message p {
  margin-top: -5px;
  font-size: 0.5em;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
}

.custom-form-message button,
.custom-form-message .dot {
  cursor: pointer;
}

.custom-form-message #success-box {
  width: 100%;
  max-width: 400px;
  height: 40vh;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(40%, #87bd45),
    to(#2fda5a)
  );
  background: linear-gradient(to bottom right, #87bd45 40%, #2fda5a 100%);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cbcdd3;
  box-shadow: 5px 5px 20px #cbcdd3;
  -webkit-perspective: 40px;
  perspective: 40px;
}

.custom-form-message #error-box {
  position: absolute;
  width: 35%;
  height: 100%;
  right: 12%;
  background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    color-stop(40%, #ef8d9c),
    to(#ffc39e)
  );
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cbcdd3;
  box-shadow: 5px 5px 20px #cbcdd3;
}

.custom-form-message .face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  -webkit-animation: bounce 1s ease-in infinite;
  animation: bounce 1s ease-in infinite;
}

.custom-form-message .face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  -webkit-animation: roll 3s ease-in-out infinite;
  animation: roll 3s ease-in-out infinite;
}

.custom-form-message .eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.custom-form-message .right {
  left: 68%;
}

.custom-form-message .mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.custom-form-message .happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-form-message .sad {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-form-message .shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.custom-form-message .scale {
  -webkit-animation: scale 1s ease-in infinite;
  animation: scale 1s ease-in infinite;
}

.custom-form-message .move {
  -webkit-animation: move 3s ease-in-out infinite;
  animation: move 3s ease-in-out infinite;
}

.custom-form-message .message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

.custom-form-message .message h1 {
  line-height: 1.8rem;
}

.custom-form-message .button-box {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  -webkit-box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.custom-form-message .button-box:hover {
  background: #efefef;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.official-partners {
  font-size: 15px;
  font-weight: 300;
}
.main-title-digital-tool {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main-title-digital-tool-paragraph {
  font-size: 25px;
  font-weight: 400;
  line-height: 2rem;
  /* letter-spacing: 0.1rem; */
}
.tools-agencys {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  width: 200px;
  margin: 10px 0;
  box-shadow: 0px 30px 70px 0px rgb(223 227 234 / 50%);
}
.tools-agencys p {
  font-size: 15px;
}
.book-a-demo-btn {
  font-size: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  color: #0c9ffa;
  border: 1px solid #0c9ffa;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    -webkit-transform: rotate(168deg);
    transform: rotate(168deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    -webkit-transform: rotate(168deg);
    transform: rotate(168deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 25%;
  }
}

@-webkit-keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

@media (max-width: 600px) {
  .client-logo-container {
    padding: 25px;
  }
}

nav p .breadcrumb-item {
  font-size: 1.2rem;
}

.rogan-hero-section .carousel-item .container {
  height: 90dvh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
